@tailwind base;
@tailwind components;
@tailwind utilities;

.hero{
    height: 89vh;
    background: url("./assets/gifs/homepage-bg.gif") no-repeat center center fixed black;
    background-image: url("./assets/gifs/homepage-bg.gif");
    background-position: 50% 50%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

*{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.just-sserif{
  font-family: serif;
}
  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
  }